* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

.controls,
.button.hangup,
.indicators,
.output {
  display: none; }

.volume {
  background-color: #000;
  height: 4px; }

.volume.low {
  background-color: #4cda5f; }

.volume.medium {
  background-color: #f1db36; }

.volume.high {
  background-color: #f13636; }

h3 {
  margin-bottom: 4px; }

.logout {
  margin-top: 20px; }

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #edeff2;
  box-shadow: 0 0 0 1px rgba(99, 115, 129, 0.05), 0 1px 2px 0 rgba(99, 115, 129, 0.5);
  padding: 3rem;
  background: #2fede0;
  background: -moz-linear-gradient(-45deg, #2fede0 0%, #92c1e5 47%, #53a4e2 100%);
  background: -webkit-linear-gradient(-45deg, #2fede0 0%, #92c1e5 47%, #53a4e2 100%);
  background: linear-gradient(135deg, #2fede0 0%, #92c1e5 47%, #53a4e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fede0', endColorstr='#53a4e2', GradientType=1); }

input {
  padding: .5rem 1rem;
  background-color: #fff;
  width: 75%;
  box-shadow: none;
  border: none; }
  input:not(:first-child) {
    margin-top: 1rem; }
